In [1]:
import os
from pathlib import Path

In [2]:
# Domain Contract
os.environ['HADRON_PM_PATH'] = Path('${PWD}/metadata/contracts/workshop').as_posix() 

# local data stores
os.environ['HADRON_DEFAULT_PATH'] = Path('${PWD}/metadata/data/workshop').as_posix()

In [16]:
from ds_discovery import Transition, Commons
from ds_discovery.components.discovery import DataDiscovery
import pandas as pd
import numpy as np

In [4]:
tr = Transition.from_env("scratch", has_contract=False)

In [5]:
tr.setup_bootstrap(domain='Telecom')
tr.set_source_contract(Transition.from_env("intel_service").get_persist_contract())
tr.set_persist()

In [6]:
df = tr.load_source_canonical()

In [7]:
tr.run_component_pipeline()

In [8]:
tr.canonical_report(df)

In [9]:
s_values = df['creationDate'].copy()

In [10]:
def datetime2number(dates):
    dates = dates.dt.tz_convert(None) if dates.dt.tz else dates
    dates = (dates - pd.Timestamp.now()).abs()
    return dates / np.timedelta64(1, 'us')

In [12]:
n_values = datetime2number(s_values)

In [18]:
tn_dict = DataDiscovery.analyse_number(n_values)
tn_dictCreators of the world in the 17th century the Spanish explore have a set of a Pfaff reported that indigenous women served as mediators and in the series and 6096 a woman she is governed the Cardo in 1770 to a woman that the Comanches into San Antonio their behalf

NameError: name 'granularity' is not defined